*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    text-align: start;
}
.container h1{
    font-size: 22px;
    margin: 15px 0;
    font-weight: 400;
}

.items-row{
    border: 1px solid #BDBDBD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.check-box{
    display: flex;
    align-items: center;
}
.checkbox{
   margin-left: 6px; 
}

.todos{
    /* padding: 3px 4px 1px 6px; */
    font-size: 13px;
}

.msg{
    color: white;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: x-small;
    padding: 3px 14px;
    margin: 5px;
    visibility: visible;
}

.form{
    margin-top: 22px;
}

.form h2{
    font-weight: 500;
    font-size: 13px;
}

.form input{
    width: 100%;
    padding: 6px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-size: x-small;
    color: gray;
}
.bttn{
    border: 1px solid lightgrey;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 16px;
    margin-top: 10px;
    background-color: white;
    font-size: 10px;
}