*{
    box-sizing: border-box;
}

.task-box-container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    height: 495px;
    overflow-y: scroll;
}
.task-container{
    background-color: white;
}

.items-row {
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: white;
    padding: 1% 0;
    margin-bottom: 3px;
}

.check-box {
    display: flex;
    align-items: center;
}

input.checkbox {
    height: 30px;
    width: 51px;
}

.todos {
    overflow-wrap: break-word;
    margin: 0 auto;
    max-width: 406px;
    padding: 12px;
    font-size: 2rem;
}

.todos-checked{
    text-decoration: line-through;
}

.icon {
    display: flex;
    align-items: center;
}
.edit-icon img{
    width: 51px;
    cursor: pointer;
    /* margin-right: 20px; */
}
.delete-icon img{
    width: 33px;
    cursor: pointer;
    margin-right: 10px;
}



@media screen and (max-width: 500px){ 
    .items-row {
    padding: 9% 0;
    width: 100%;
    }
    .task-box-container{
        margin: 0;
        width: 100%;
    }
    .todos{
        /* max-width: 77px; */
        max-width: 65px;
        font-size: 0.8rem;
    }

    input.checkbox{
        height: 24px;
        width: 28px;
    }
     input .checkbox{
        margin: 0;
     }
}
@media screen and (min-width:500px) and (max-width:820px) {
.delete-icon img {
    width: 48px;
}
.todos{
        margin: 0 auto;
        max-width: 154px;
        font-size: 1.5rem;
}

 .items-row{
    overflow: scroll;
 }
}